<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Shakeel Component</div>

                    <div class="card-body">
                    Boxes
                    <br>
                        [<template v-if="box_count>=16" v-for="(color,k) in colors" >
                            <span>{{color.name}} ,</span>
                        </template>]

                        <b-button v-if="box_count>=16" @click="shuffleAndSort('shuffle')" variant="danger">Shuffle Colors</b-button>
                        <b-button v-if="box_count>=16" @click="shuffleAndSort('sort')" variant="primary">Sort Boxes</b-button>

                        
                    <br><br>

                    <template v-for="(item,k) in items" >

                        <div class="box" :style="boxDesign(item.color.name,item.width,item.height)" ref="box">{{ countDown }}</div>
                        <br>
                    </template>
                       
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                
                boxex:'',
                color:'',
                height:'',
                width:'',
                timer: '',
                countDown: 10,
                totalBoxes:16,
                box_count:'',
                items:[],
                shuffle_sort:'',
                ms:1000,
                apicount:1,
                colors:[]
                
            }
        },

        methods: {
            async getColors(){
                let self = this;
                 await  axios.get( '/api/get/colors')
                .then(function (response) {
                    self.colors = response.data.data;
                    console.log(self.colors);
                }).catch(function (error) {
                    console.log(error);
                });
            },

             async makeBox(){
                let self = this;
                await  axios.get( '/api/make/box')
                .then(function (response) {
                    self.items = response.data.data.boxes;
                    self.box_count = response.data.data.box_count;
                    console.log(self.box_count);
                }).catch(function (error) {
                    console.log(error);
                   
                });

                if(self.box_count < 16){
                    this.countDown = 10;
                    this.countDownTimer();
                }

                this.apicount += 1;
                if(this.apicount == 7){
                    axios.get( '/api/send/mail');
                }
            },


            countDownTimer () {
                 console.log(this.countDown);
                if (this.countDown > 0) {
                    this.countDown -= 1
                    setTimeout(() => {
                        
                        this.countDownTimer()
                    }, this.ms);

                    if(this.countDown == 1){
                        
                        this.ms=1000*2;
                        this.makeBox();
                    }
                }
            },

             shuffleAndSort(shuffle_sort){
                let self = this;
                 axios.get( '/api/shuffle/sort/'+ shuffle_sort)
                .then(function (response) {
                     self.items = response.data.data.boxes;
                    self.box_count = response.data.data.box_count;
                    console.log(self.items);
                }).catch(function (error) {
                    console.log(error);
                   
                });
            },
            
            boxDesign(color,width,height) {
                return {
                    backgroundColor: color,
                    width: width,
                    height: height
                };
            }


        },
        computed: {
            
        },
        
        mounted() {
            console.log('Check');
            this.getColors();
            this.makeBox();
            // this.countDownTimer();
            // this.timer = setInterval(this.loop, 1000);
        }
    }
</script>
